<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>学历要求饼状图</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="29caedc3599444889115614377e6f4ca" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_29caedc3599444889115614377e6f4ca = echarts.init(
            document.getElementById('29caedc3599444889115614377e6f4ca'), 'white', {renderer: 'canvas'});
        var option_29caedc3599444889115614377e6f4ca = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u535a\u58eb",
                    "value": 1328
                },
                {
                    "name": "\u5176\u4ed6",
                    "value": 505
                },
                {
                    "name": "\u9ad8\u4e2d",
                    "value": 6
                },
                {
                    "name": "\u521d\u4e2d\u53ca\u4ee5\u4e0b",
                    "value": 3
                },
                {
                    "name": "\u4e2d\u6280/\u4e2d\u4e13",
                    "value": 27
                },
                {
                    "name": "\u5927\u4e13",
                    "value": 7308
                },
                {
                    "name": "\u7855\u58eb",
                    "value": 6297
                },
                {
                    "name": "\u672c\u79d1",
                    "value": 31321
                }
            ],
            "radius": [
                "40%",
                "75%"
            ],
            "center": [
                "50%",
                "50%"
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{b}: {d}%"
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u535a\u58eb",
                "\u5176\u4ed6",
                "\u9ad8\u4e2d",
                "\u521d\u4e2d\u53ca\u4ee5\u4e0b",
                "\u4e2d\u6280/\u4e2d\u4e13",
                "\u5927\u4e13",
                "\u7855\u58eb",
                "\u672c\u79d1"
            ],
            "selected": {},
            "show": true,
            "left": "2%",
            "top": "15%",
            "orient": "vertical",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u5b66\u5386\u8981\u6c42\u997c\u72b6\u56fe",
            "left": "center",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_29caedc3599444889115614377e6f4ca.setOption(option_29caedc3599444889115614377e6f4ca);
    </script>
</body>
</html>
