<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>工作经验要求柱状图</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/themes/wonderland.js"></script>

</head>
<body>
    <div id="3f4ce35597ad41c9b37725c1f8329b77" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_3f4ce35597ad41c9b37725c1f8329b77 = echarts.init(
            document.getElementById('3f4ce35597ad41c9b37725c1f8329b77'), 'wonderland', {renderer: 'canvas'});
        var option_3f4ce35597ad41c9b37725c1f8329b77 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "bar",
            "name": "\u5de5\u4f5c\u7ecf\u9a8c",
            "legendHoverLink": true,
            "data": [
                596,
                7938,
                254,
                94,
                6098,
                5654,
                3119,
                7834,
                15208
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{c}"
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u5de5\u4f5c\u7ecf\u9a8c"
            ],
            "selected": {
                "\u5de5\u4f5c\u7ecf\u9a8c": true
            },
            "show": true,
            "left": "5px",
            "bottom": "10%",
            "orient": "vertical",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "nameRotate": 60,
            "gridIndex": 0,
            "axisLabel": {
                "rotate": 45
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "8-9\u5e74\u7ecf\u9a8c",
                "\u5728\u6821\u751f/\u5e94\u5c4a\u751f",
                "10\u5e74\u4ee5\u4e0a\u7ecf\u9a8c",
                "\u4e0d\u8be6",
                "1\u5e74\u7ecf\u9a8c",
                "5-7\u5e74\u7ecf\u9a8c",
                "\u65e0\u9700\u7ecf\u9a8c",
                "2\u5e74\u7ecf\u9a8c",
                "3-4\u5e74\u7ecf\u9a8c"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u5de5\u4f5c\u7ecf\u9a8c\u8981\u6c42",
            "left": "center",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_3f4ce35597ad41c9b37725c1f8329b77.setOption(option_3f4ce35597ad41c9b37725c1f8329b77);
    </script>
</body>
</html>
